{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "indent": "off",
    "curly": ["error", "multi-line"],
    "object-curly-spacing": ["error", "never"],
    "quotes": [2, "single", {"avoidEscape": true}, {"allowTemplateLiterals": true}],
    "no-trailing-spaces": ["error"],
    "no-multiple-empty-lines": ["error", {"max": 1, "maxEOF": 0}],
    "@typescript-eslint/indent": ["error", 2, {"flatTernaryExpressions": true}],
    "@typescript-eslint/member-delimiter-style": ["error"],
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/member-ordering": "error"
  }
}
