{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": [
    "@typescript-eslint",
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "indent": "off",
    "curly": ["error", "multi-line"],
    "react/display-name": "off",
    "no-trailing-spaces": ["error"],
    "no-multiple-empty-lines": ["error", {"max": 1, "maxEOF": 0}],
    "@typescript-eslint/indent": ["error", 2, {"flatTernaryExpressions": true}],
    "@typescript-eslint/member-delimiter-style": ["error"],
    "@typescript-eslint/explicit-module-bound,ary-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-var-requires": "off"
  }
}
